* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    background-color: #ffffff;
    color: #242323;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color:#2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #f0eded;
}

.link-nav a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.link-nav .btnlogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid, #00FF9F;
    outline: none;
    border-radius: 10px;
    font-size: 1.1em;
    color: #08eb44;
    font-weight: 500;
    margin-left: 40px;
}

.link-nav .btnRegistre{
      width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid, #0b87c5;
    outline: none;
    border-radius: 10px;
    font-size: 1.1em;
    color: #08d1eb;
    font-weight: 500;
    margin-left: 40px;
}

.link-nav .btnLogout{
      width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid, #d31717;
    outline: none;
    border-radius: 10px;
    font-size: 1.1em;
    color: #d84848;
    font-weight: 500;
    margin-left: 40px;
}

.link-nav .btnlogin:hover{
    background-color: #0e2a2a;
    box-shadow: 0 0 15px rgba(0, 255, 159, 0.4), inset 0 0 10px rgba(0, 255, 159, 0.2);
    text-shadow: 0 0 8px #00FF9F;
    transform: translateY(-2px);
}
.link-nav .btnRegistre:hover{
   background-color: #0e2a2a;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), inset 0 0 10px rgba(0, 157, 255, 0.2);
    text-shadow: 0 0 8px #00FF9F;
    transform: translateY(-2px);
}

.link-nav .btnLogout:hover{
   background-color: #0e2a2a;
    box-shadow: 0 0 15px rgba(226, 18, 46, 0.4), inset 0 0 10px rgba(255, 0, 0, 0.2);
    text-shadow: 0 0 8px #ff2525;
    transform: translateY(-2px);
}

.container{
    padding-top: 100px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.categories {
    display: flex;
    gap: 20px;
}

.cat {
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

/* couleurs catégories */
.red { background-color: #e74c3c; }
.blue { background-color: #3498db; }
.purple { background-color: #9b59b6; }

/* topics */
.topics {
    margin-top: 20px;
}

.topic-card {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.topics.red .topic-card { background-color: #f8d7da; }
.topics.blue .topic-card { background-color: #d6eaf8; }
.topics.purple .topic-card { background-color: #ebdef0; }

.topic-card a {
    text-decoration: none;
    color: black;
}