<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberGuardi - Accueil</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1 class="logo">logo</h1>
        <ul class="link-nav">
            <a href="/templates/red.html">red</a>
            <a href="#blue"></a>
            <a href="#purple">New Topic</a>
            <button class="btnlogin">Login</button>
        </ul>
    </header>

    <main>
        <div class="contenair">
            <h1 class="Welcome">Bienvenue dans CyberGuard</h1>
            <h2 class="red">Chat red team</h2>
            <h2 class="blue">Chat blue team</h2>
            <h2 class="purple">Chat purple team</h2>
        </div>
    </main>
</body>
</html>
